<!DOCTYPE html>

<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="application.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="application.css" title="" type="text/css" />
    <title>Movie Search</title>

  </head>
  <body>

    <div class="container">
      <h1>Movie Search!</h1>
      <div>
        <a href="#" id="showFavorites">Show favorites</a>
        <ul id="favoritesContainer">

        </ul>
      </div>
      <form id="movieSearch" action="#" method="get">
        <label for="s">Enter Movie Title</label>
        <input name="s" value="" placeholder="Dumb and Dumber...">
        <button id='searchButton' disabled=true>Search OMDB</button>
      </form>

      <div id="noResults" style="display:none;">
        No results found... 
      </div>

      <div id="loading" style="display:none;">
        <img src="hourglass.svg" alt="" />
      </div>

      <div style="width: 100%;">
        <div style="float:left; width: 45%;">
          <ul id="movieList">

          </ul>

        </div>  
        <div style="display:none; float: right; width: 45%; scroll: auto;" id="detailsContainer">
          <div id="details">

          </div>

        </div>

      </div>

    </div></body>
</html>
