<!DOCTYPE html>

<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="application.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="application.css" title="" type="text/css" />
    <title>Movie Search</title>

  </head>
  <body>

    <div class="container">
      <h1>Movie Search!</h1>
      <div>
        <a href="#" id="showFavorites">Show favorites</a>
        <ul id="favoritesContainer">

        </ul>
      </div>
      <form id="movieSearch" action="#" method="get">
        <label for="s">Enter Movie Title</label>
        <input name="s" value="" placeholder="Dumb and Dumber...">
        <button id='searchButton' disabled=true>Search OMDB</button>
      </form>

      <div id="noResults">
        No results found... 
      </div>

      <div id="loading">
        <img src="hourglass.svg" alt="" />
      </div>

      <div class="movieList container">
        <div class="movieList left">
          <ul id="movieList">

          </ul>

        </div>  
        <div class="movieList right" id="detailsContainer">
          <div id="details">

          </div>

        </div>

      </div>

    </div></body>
</html>
